/* src/input.css */
/* Ejemplo de estilo para un scrollbar personalizado en Tailwind CSS */
/* Asegúrate de que esto esté en tu CSS principal */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* ancho del scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #374151; /* color del track del scrollbar (gray-700) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4B5563; /* color del thumb del scrollbar (gray-600) */
  border-radius: 10px;
  border: 2px solid #374151; /* Espacio alrededor del thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6B7280; /* color del thumb al pasar el mouse (gray-500) */
}

@tailwind base;
@tailwind components;
@tailwind utilities;